body {
	background-color: #179eff;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1 {
	color: #fff;
}

#eventname {
        color: #fff;
        font-size: 64px;
}

#luckyperson {
	font-size: 128px;
}

#btnDraw {
	color: #4a4a4a;
	background-color: #fdd835;
	margin: 15px 0px 0px;
	padding: 9.5px 55.5px;
	font-size: 14px;
	border: 0;
}

#btnDraw:disabled,
#btnDraw[disabled] {
	background-color: #AAA;
	cursor: not-allowed;
}

